<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Datenaustausch" context="hsl20_3_go-eCharger" id="14105" name="go-eCharger (14105)" version="0.5">
            <inputs>
            	<input type="string" const_name="s_ip" init_value="">IP</input>
            	<input type="number" const_name="n_port" init_value="80">Port</input>
                <input type="number" const_name="n_interval" init_value="0">Intervall [s]</input>
                <input type="number" const_name="n_trigger" init_value="0">Trigger</input>				
            	<input type="number" const_name="n_amp" init_value="0">amp / Ampere für PWM [6-32A]</input>
            	<input type="number" const_name="n_ast" init_value="0">ast / Access State</input>
            	<input type="number" const_name="n_alw" init_value="0">alw / Allow Charging</input>
				<input type="number" const_name="n_stp" init_value="0">stp / Stop State</input>
            	<input type="number" const_name="n_dwo" init_value="0">dwo / Abschaltwert [kWh]</input>
            	<input type="string" const_name="s_wss" init_value="">wss / WLAN SSID</input>
            	<input type="string" const_name="s_wke" init_value="">wke / WLAN Key</input>
            	<input type="number" const_name="n_wen" init_value="0">wen / Wifi Enabled</input>
            	<input type="number" const_name="n_tof" init_value="0">tof / Time Offset</input>
            	<input type="number" const_name="n_tds" init_value="0">tds / Daylight saving time offset</input>
            	<input type="number" const_name="n_lbr" init_value="0">lbr / LED Helligkeit [%]</input>
            	<input type="number" const_name="n_aho" init_value="0">aho / Min. auto Ladezeit [h]</input>
            	<input type="number" const_name="n_afo" init_value="0">afo / Stoppzeit auto laden [h]</input>
            	<input type="number" const_name="n_al1" init_value="0">al1 / Ampere-Level 1</input>
            	<input type="number" const_name="n_al2" init_value="0">al2 / Ampere-Level 2</input>
            	<input type="number" const_name="n_al3" init_value="0">al3 / Ampere-Level 3</input>
            	<input type="number" const_name="n_al4" init_value="0">al4 / Ampere-Level 4</input>
            	<input type="number" const_name="n_al5" init_value="0">al5 / Ampere-Level 5</input>
            	<input type="number" const_name="n_cid" init_value="0">cid / Farbwert Standby</input>
            	<input type="number" const_name="n_cch" init_value="0">cch / Farbwert Ladevorgang</input>
            	<input type="number" const_name="n_cfi" init_value="0">cfi / Farbwert Ladevorgang Ende</input>
            	<input type="number" const_name="n_lse" init_value="0">lse / LED Save Energy</input>
            	<input type="number" const_name="n_ust" init_value="0">ust / Unlock State</input>				
            	<input type="string" const_name="s_wak" init_value="">wak / WLAN Hotspot Password</input>
				<input type="number" const_name="n_r1x" init_value="0">r1x / Flags</input>
            	<input type="number" const_name="n_dto" init_value="0">dto / Restzeitfenster auto Laden</input>
            	<input type="number" const_name="n_nmo" init_value="0">nmo / Norwegen-Modus</input>
            	<input type="string" const_name="s_rna" init_value="">rna / RFID Karte A Name</input>
				<input type="string" const_name="s_rnm" init_value="">rnm / RFID Karte N Name</input>
				<input type="string" const_name="s_rne" init_value="">rne / RFID Karte E Name</input>
				<input type="string" const_name="s_rn1" init_value="">rn1 / RFID Karte 1 Name</input>
				<input type="string" const_name="s_rn4" init_value="">rn4 / RFID Karte 4 Name</input>
				<input type="string" const_name="s_rn5" init_value="">rn5 / RFID Karte 5 Name</input>
				<input type="string" const_name="s_rn6" init_value="">rn6 / RFID Karte 6 Name</input>
				<input type="string" const_name="s_rn7" init_value="">rn7 / RFID Karte 7 Name</input>
				<input type="string" const_name="s_rn8" init_value="">rn8 / RFID Karte 8 Name</input>
				<input type="string" const_name="s_rn9" init_value="">rn9 / RFID Karte 9 Name</input>
				<input type="number" const_name="n_azo" init_value="0">azo / Awattar Preiszone</input>
				<input type="number" const_name="n_ama" init_value="0">ama / Vorgabe max. Ampere</input>
            </inputs>
            <outputs>
				<output type="number" const_name="n_online" init_value="0">Online</output>
				<output type="string" const_name="s_version" init_value="">Version</output>
				<output type="number" const_name="n_rbc" init_value="0">rbc / Reboot Counter</output>
				<output type="number" const_name="n_rbt" init_value="0">rbt / Reboot Timer [s]</output>
				<output type="number" const_name="n_car" init_value="0">car / Status PWM Signalisierung</output>
				<output type="number" const_name="n_err" init_value="0">err / Error</output>
				<output type="number" const_name="n_cbl" init_value="0">cbl / Type2 Kabel A Kodierung</output>
				<output type="number" const_name="n_pha" init_value="0">Pha / Phasen</output>
				<output type="number" const_name="n_tmp" init_value="0">tmp / Temperatur</output>
				<output type="number" const_name="n_dws" init_value="0">dws / Geladene Energiemenge [kWh]</output>
				<output type="number" const_name="n_adi" init_value="0">adi / Adapter In</output>
				<output type="number" const_name="n_uby" init_value="0">uby / Unlocked by</output>
				<output type="number" const_name="n_eto" init_value="0">eto / Energy Total [kWh]</output>
				<output type="number" const_name="n_wst" init_value="0">wst / Wifi State</output>
				<output type="number" const_name="n_nrg" init_value="0">nrg</output>
				<output type="string" const_name="s_fwv" init_value="">fwv / Firmware Version</output>
				<output type="string" const_name="s_sse" init_value="">sse / Seriennummer</output>
				<output type="number" const_name="n_eca" init_value="0">eca / Energiemenge RFID E [kWh]</output>
				<output type="number" const_name="n_ecr" init_value="0">ecr / Energiemenge RFID R [kWh]</output>
				<output type="number" const_name="n_ecd" init_value="0">ecd / Energiemenge RFID D [kWh]</output>
				<output type="number" const_name="n_ec4" init_value="0">ec4 / Energiemenge RFID 4 [kWh]</output>
				<output type="number" const_name="n_ec5" init_value="0">ec5 / Energiemenge RFID 5 [kWh]</output>
				<output type="number" const_name="n_ec6" init_value="0">ec6 / Energiemenge RFID 6 [kWh]</output>
				<output type="number" const_name="n_ec7" init_value="0">ec7 / Energiemenge RFID 7 [kWh]</output>
				<output type="number" const_name="n_ec8" init_value="0">ec8 / Energiemenge RFID 8 [kWh]</output>
				<output type="number" const_name="n_ec9" init_value="0">ec9 / Energiemenge RFID 9 [kWh]</output>
				<output type="number" const_name="n_ec1" init_value="0">ec1 / Energiemenge RFID 1 [kWh]</output>
				<output type="string" const_name="s_rca" init_value="">rca / RFID Karte A ID</output>
				<output type="string" const_name="s_rcr" init_value="">rcr / RFID Karte R ID</output>
				<output type="string" const_name="s_rcd" init_value="">rcd / RFID Karte D ID</output>
				<output type="string" const_name="s_rc4" init_value="">rc4 / RFID Karte 4 ID</output>
				<output type="string" const_name="s_rc5" init_value="">rc5 / RFID Karte 5 ID</output>
				<output type="string" const_name="s_rc6" init_value="">rc6 / RFID Karte 6 ID</output>
				<output type="string" const_name="s_rc7" init_value="">rc7 / RFID Karte 7 ID</output>
				<output type="string" const_name="s_rc8" init_value="">rc8 / RFID Karte 8 ID</output>
				<output type="string" const_name="s_rc9" init_value="">rc9 / RFID Karte 9 ID</output>
				<output type="string" const_name="s_rc1" init_value="">rc1 / RFID Karte 1 ID</output>
				<output type="string" const_name="s_tme" init_value="">tme / Time [dd.mm.yyyy hh:mm]</output>				
            	<output type="number" const_name="n_amp" init_value="0">amp / Ampere für PWM Signalisierung</output>
            	<output type="number" const_name="n_ast" init_value="0">ast / Access State</output>
            	<output type="number" const_name="n_alw" init_value="0">alw / Allow Charging</output>
				<output type="number" const_name="n_stp" init_value="0">stp / Stop State</output>
            	<output type="number" const_name="n_dwo" init_value="0">dwo / Abschaltwert [kWh]</output>
            	<output type="string" const_name="s_wss" init_value="">wss / WLAN SSID</output>
            	<output type="string" const_name="s_wke" init_value="">wke / WLAN Key</output>
            	<output type="number" const_name="n_wen" init_value="0">wen / Wifi Enabled</output>
            	<output type="number" const_name="n_tof" init_value="0">tof / Time Offset</output>
            	<output type="number" const_name="n_tds" init_value="0">tds / Daylight saving time offset</output>
            	<output type="number" const_name="n_lbr" init_value="0">lbr / LED Helligkeit [%]</output>
            	<output type="number" const_name="n_aho" init_value="0">aho / Min. auto Ladezeit [h]</output>
            	<output type="number" const_name="n_afi" init_value="0">afi / Stoppzeit auto laden [h]</output>
            	<output type="number" const_name="n_al1" init_value="0">al1 / Ampere-Level 1 [A]</output>
            	<output type="number" const_name="n_al2" init_value="0">al2 / Ampere-Level 2 [A]</output>
            	<output type="number" const_name="n_al3" init_value="0">al3 / Ampere-Level 3 [A]</output>
            	<output type="number" const_name="n_al4" init_value="0">al4 / Ampere-Level 4 [A]</output>
            	<output type="number" const_name="n_al5" init_value="0">al5 / Ampere-Level 5 [A]</output>
            	<output type="number" const_name="n_cid" init_value="0">cid / Farbwert Standby</output>
            	<output type="number" const_name="n_cch" init_value="0">cch / Farbwert Ladevorgang</output>
            	<output type="number" const_name="n_cfi" init_value="0">cfi / Farbwert Ladevorgang Ende</output>
            	<output type="number" const_name="n_lse" init_value="0">lse / LED Save Energy</output>
            	<output type="number" const_name="n_ust" init_value="0">ust / Unlock State</output>
            	<output type="string" const_name="s_wak" init_value="">wak / WLAN Hotspot Password</output>
				<output type="number" const_name="n_r1x" init_value="0">r1x / Flags </output>
            	<output type="number" const_name="n_dto" init_value="0">dto / Restzeitfenster auto Laden</output>
            	<output type="number" const_name="n_nmo" init_value="0">nmo / Norwegen-Modus</output>
            	<output type="string" const_name="s_rna" init_value="">rna / RFID Karte A Name</output>
				<output type="string" const_name="s_rnm" init_value="">rnm / RFID Karte N Name</output>
				<output type="string" const_name="s_rne" init_value="">rne / RFID Karte E Name</output>
				<output type="string" const_name="s_rn1" init_value="">rn1 / RFID Karte 1 Name</output>
				<output type="string" const_name="s_rn4" init_value="">rn4 / RFID Karte 4 Name</output>
				<output type="string" const_name="s_rn5" init_value="">rn5 / RFID Karte 5 Name</output>
				<output type="string" const_name="s_rn6" init_value="">rn6 / RFID Karte 6 Name</output>
				<output type="string" const_name="s_rn7" init_value="">rn7 / RFID Karte 7 Name</output>
				<output type="string" const_name="s_rn8" init_value="">rn8 / RFID Karte 8 Name</output>
				<output type="string" const_name="s_rn9" init_value="">rn9 / RFID Karte 9 Name</output>
				<output type="number" const_name="n_azo" init_value="0">azo / Awattar Preiszone</output>
				<output type="number" const_name="n_ama" init_value="0">ama / Vorgabe max. Ampere</output>
				<output type="number" const_name="n_upd" init_value="0">upd / Update verfügbar</output>
            </outputs>
			<remanent_variables>
            </remanent_variables>
            <imports>
            </imports>		
        </module>			
    </modules>
</config>
                 
